<h1>Welcome to the Band and Venue Page</h1>

<h3>Here are your current bands:</h3>

<% if @bands.any?() %>
<% @bands.each() do |band| %>
<ul>
  <li><a href='/band/<%=band.id()%>'> <%=band.name()%></a></li>
</ul>
<%end%>
<%else %>
<p> You have no bands!</p>
<%end%>

<form action='/band_add/' method='post'>
    <label for='name'/> Add a Band: </label>
    <input id='name' name='name' type='text'>
  <button type='submit' class='btn btn-info'>Add Band</button>
</form>
